@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'digital-7';
  src: url('../fonts/digital-7.mono.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-roman-latin.var.woff2') format('woff2'),
    url('../fonts/Inter-italic-latin.var.woff2') format('woff2');
}
