@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DS-Digital';
  src: url('../fonts/DS-DIGI.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-roman-latin.var.woff2') format('woff2'),
    url('../fonts/Inter-italic-latin.var.woff2') format('woff');
}
